.colours {
    /* menus */
    background-color: #4577bb;
    background-color: #89c0e2;
    /* buttons */
    background-color: #a3b8d3;
    background-color: #e7ceb6;
    /* text */
    color: #faf7f8;
    /*test*/
    color: #0408237a;
}

html {
    font-size: clamp(16px, 1vw, 48px); 
}

body, html {
    margin:0;
    padding:0;
    color: rgb(224, 224, 224);
    font-family: 'Montserrat', sans-serif;
}

body {
    display:flex;
    flex-direction: column;
    background-color: #04082391;
    justify-content: space-between;
}

h1 {
    margin:0;
    padding:0;
    font-size:1.5rem;
}

.headerTop, .headerBottom {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.logo {
    width:25%;
    display:flex;
    align-items: center;
    gap:10px;
}

.profile {
    width:25%;
    text-align: right;
}


.searchBar {
    display:flex;
    align-items: center;
    width:50%;
}

.searchBar input[type="text"] {
    width:100%;
}

#topIcon {
    justify-self: center;
    border-radius:50%;
    max-width:40px;
    max-height:40px;
    border:1px solid black;
}

.tabs {
    display:flex;
    flex-wrap:wrap;
    max-width:100%;
    gap:0px;
}

.tabs input[type="radio"] {
    display:none;
}

.tabs input[type="radio"]:checked + label{
    background-color: #c3c3c3;
    color: #040823b2;
}

.tabs label {
    background-color: #040823b2;
    padding:20px;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    order:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tabs .tab {
    background-color: #040823b2;
    order:1;
    margin:0px;
    padding:20px;
    display:none;
    width:100%;
}

.tabs input[type="radio"]:checked + label + .tab {
    display:flex;
    flex-direction: column;
}

button {
    background-color: #ccc;
    border-radius:10px;
    padding:10px;
    font-family: "Montserrat", sans-serif;
}

#newBook {
    margin-left:auto;
    margin-top:auto;
    margin-bottom:auto;
    margin-right: 10px;
    order:0;
}

main {
    height:100%;
}


/* modal form (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 1.5rem;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.newBookForm {
    display:flex;
    flex-direction: column;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    color: #040823b2;
}

.textInput {
    width:50%;
    border-radius: 20px;
    line-height: 20%;
    font-size:20px;
    padding:2%;
    text-align: center;
}

/* modal close button */
.close {
    color: #aaa;
    position:relative;
    left:50%;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 0.5rem 1rem;
    background-color: #040823b2;
    color: white;
    text-align: center;
}

/* Modal Footer */
.modal-footer {
    padding: 1.5rem;
    background-color: #040823b2;
    color: white;
}

/* Modal Content */
.modal-content {
    top:5%;
    position: relative;
    background-color: #fefefe91;
    backdrop-filter: blur(4px);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
}

/* modal form submit button */
#modalSubmit {
    padding:0.5rem 1rem;
}

/* modal form animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 5%;
        opacity: 1;
    }
}

/* ------------------------------ */




.library {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-template-rows:repeat(auto-fill, minmax(10rem, 1fr));
    grid-auto-rows:auto;
    grid-gap:2rem;
    background-color: #8d8d8d;
    height:100%;
    padding:2rem;
    border-radius:20px;
    box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.57);
}

.card {
    background-color: #040823b2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding:1rem;
    box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.57);
}

.cardHeader {
    display:flex;
    justify-content: space-between;
}

.cardRemove {
    cursor:pointer;
    height:1rem;
}

.toggleButton {
    cursor:pointer;
    user-select: none;
}

#clearBtn, #clearBtn2 {
    margin: auto;
    margin-top:1.5rem;
}


footer {
    text-align: center;
    width:100%;
    padding:20px 0px;
}

@media (max-width: 780px) {
    .headerTop {
        flex-direction: column;
    }
    .profile {
        text-align: center;
    }
    .tabs {
        display:flex;
        flex-direction: column;
    }
    .tabs .tab {
        padding:0;
    }

    .tabs label {
        border-radius: 0;
    }

    button {
        margin:auto;
    }
    .headerTop, .logo, .profile {
        justify-content: center;
        align-items: center;
    }
}