.colours {
    /* menus */
    background-color: #4577bb;
    background-color: #89c0e2;
    /* buttons */
    background-color: #a3b8d3;
    background-color: #e7ceb6;
    /* text */
    color: #faf7f8;
}

body, html {
    margin:0;
    padding:0;
    height:100%;
    color: #faf7f8;
    font-family: 'Montserrat', sans-serif;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #4577bb;
    height:100%;
}

h1 {
    margin:0;
    padding:0;
    font-size:1.5rem;
}

.headerTop, .headerBottom {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.headerTop {
    background-color: #4577bb;
}

.logo {
    width:25%;
    display:flex;
    align-items: center;
    gap:10px;
}

.profile {
    width:25%;
    text-align: right;
}


.headerBottom {
    background-color: #ccc;
}

.searchBar {
    display:flex;
    align-items: center;
    width:50%;
}

.searchBar input[type="text"] {
    width:100%;
}

#topIcon {
    justify-self: center;
    border-radius:50%;
    max-width:40px;
    max-height:40px;
}

.tabs {
    display:flex;
    flex-wrap:wrap;
    max-width:100%;
    gap:0px;
    height:100%;
}

.tabs input[type="radio"] {
    display:none;
}

.tabs input[type="radio"]:checked + label{
    background-color: #e7ceb6;
}

.tabs label {
    background-color: #a3b8d3;
    padding:20px;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    order:0;
}

.tabs .tab {
    background-color: #a3b8d3;
    order:1;
    margin:0px;
    padding:20px;
    display:none;
    height:calc(100% - 100px);
}

.tabs input[type="radio"]:checked + label + .tab {
    display:flex;
    flex-direction: column;
}

.headerBottom button {
    background-color: aliceblue;
    border-radius:10px;
    padding:10px;
}

main {
    height:100%;
}

footer {
    text-align: center;
    width:100%;
    background-color: #4577bb;
    padding:20px 0px;
}